django
reportlab
ipython
faker
pyaml
pillow
gunicorn
psycopg2-binary
dj-database-url
whitenoise
django-allauth
django-tailwind
django-crispy-forms
crispy-tailwind
qrcode
promptpay
requests
PyJWT
cryptography
django-browser-reload
cloudinary
django-cloudinary-storage